@import './variables.scss';

/* purgecss start ignore */
:export {
  // theme
  office-green: $office-green;
  boring-green: $boring-green;
  fluorescent-orange: $fluorescent-orange;
  marigold: $marigold;
  smoky-topaz: $smoky-topaz;
  // black & white & grey
  licorice: $licorice;
  grey: $grey;
  brown-grey: $brown-grey;
  very-light-pink: $very-light-pink;
  black: $black;
  white: $white;
  // font families
  font-families: {
    main: $font-family-main;
    alternate: $font-family-alternate;
  }  
  // triangles
  angle: $angle;
  // breakpoints
  breakpoint: {
    tablet: $tablet;
    tabletBefore: $tablet - 1px;
    desktop: $desktop;
    desktopBefore: $desktop - 1px;
    widescreen: $widescreen; 
    widescreenBefore: $widescreen - 1px; 
    fullhd: $fullhd;
    fullhdBefore: $fullhd - 1px;
  }
}
/* purgecss end ignore */