// fonts
$font-family-main: 'Ubuntu', sans-serif;
$font-family-alternate: 'Alegreya Sans', sans-serif;

// theme
$office-green: #126e00;
$boring-green: #66bb64;
$fluorescent-orange: #fdbe29;
$marigold: #ffbe00;
$smoky-topaz: #a63d40;

// black & white & grey
$licorice: #151515;
$grey: #f6f6f6;
$brown-grey: #b4b4b4;
$very-light-pink: #e3e3e3;

$black: $licorice;
$white: #ffffff;

$angle: 3;