@import '../../styles/theme.scss';

.rich-text {
  line-height: 1.8rem;

  p:not(:last-child) {
    margin-bottom: 2rem;
  }

  p {
    color: #3e3e3e;
  }

  blockquote {
    padding: 0 0.5rem;
    margin: 0.5rem 0 2rem;
    p {
      font-style: italic;
      text-align: center;;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-alternate;
    line-height: 1.5rem;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.3rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  h6 {
    font-size: 1.1rem;
  }

  ul, ol {
    li {
      margin-bottom: 0.5rem;
    }
  }
}